.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  &.primary {
    background-color: black;
    color: white;
  }

  &.secondary {
    background-color: lightgray;
    color: black;
  }

  &.md {
    height: 40px;
    padding: 0 16px;
  }

  &.sm {
    height: 28px;
    padding: 0 12px;
    font-size: 12px;
  }
}
