*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
}

input,
select,
textarea {
  outline: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border-radius: 0;
  border: 1px solid;

  &:focus {
    outline: none;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

ul,
ol {
  list-style-type: none;
}
